name: Deploy Website

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Deploying to surge

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - run: npm install -g surge
      - run: pip install mkdocs-material
      - run: pip install mkdocs-glightbox
      - run: sed -i "s/commit_id_placeholder/$COMMIT_ID_SHA"
      - run: mkdocs build
      - run: surge ./ ${{ secrets.SURGE_DOMAIN }} --token ${{ secrets.SURGE_TOKEN }}
